
nav{
    background-color:aliceblue;
}
.tooltip {
      display:none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      color: #333;
      padding: 8px 12px;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      white-space: nowrap;
      z-index: 100;
      font-size: 14px;
    }


.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;

}

.menu a {
  display: block;
  color: black;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  
}
.menu a:hover,
.menu a:focus {
  background-color: #555; /* nou color de fons quan el cursor hi és damunt */
  color: #ffd700;         /* canvi de color de text */
}
.menu-item {
      position: relative;
    }

.menu-item:hover .tooltip{
    display: block;
}